* {
    margin: 0;
    padding: 0;
}

html, body, #app {
    height: 100%;
    width: 100%;   
}

.main {
    font-family: 'Roboto', sans-serif;
    height: 100%;    
    text-align: center;
    background-image: url("./images/background-blur.jpg");
    background-size: cover;
    color: white;

    h1 {
        font-weight: 100;
        white-space: nowrap;
    }

    li {
        font-size: 20px;
        padding: 5px;
    }

    a {
        color: white;
        line-height: 4;
    }
}